<div class="content-page">
    <div class="content mt-2">
        <!-- Start Content-->
        <div class="card">        
            <div class="card-body">
                <div class="card-title border-bottom">
                    <h5 class="card-title">
                        {{ title }}
                    </h5>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>CS</th>
                                    <th>Nome</th>
                                    <th>Loja</th>
                                    <th> --- </th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let row of dataSource">
                                    <tr class="tr-clickable">
                                        <td (click)="editar(row.cs, row.loja_id)">{{ row.sequencial }}</td>
                                        <td (click)="editar(row.cs, row.loja_id)">{{ row.cs }}</td>
                                        <td (click)="editar(row.cs, row.loja_id)">{{ row.nome }}</td>
                                        <td (click)="editar(row.cs, row.loja_id)">{{ row.loja }}</td>
                                        <td>
                                            <button title="Desvincular Colaborador x Loja" class="btn btn-icon waves-effect waves-light btn-danger" (click)="desvincular(row.id, row.nome, row.loja);"> <i class="mdi mdi-cancel"></i> </button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content -->
  </div>
  