<div class="content-page">
    <div class="content mt-2">
        <!-- Start Content-->
        <div class="card">        
            <div class="card-body">
                <div class="card-title border-bottom">
                    <h5 class="card-title">
                        {{ title }}
                    </h5>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered table-striped table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>CS</th>
                                    <th>Colaborador</th>
                                    <th>Pontos</th>
                                    <th>Produtos</th>
                                    <th>Situação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let row of dataSource">
                                    <tr>
                                        <td>{{ row.sequencial }}</td>
                                        <td>{{ row.cs_colaborador }}</td>
                                        <td>{{ row.colaborador }}</td>
                                        <td>{{ row.total_pontos }}</td>
                                        <td>
                                            <div *ngFor="let prd of row.items">
                                                #{{ prd.sequencial }} Nome.: {{ prd.nome }} Pontos.: {{ prd.valor_pontos.toFixed(0) }}<br/>
                                            </div>
                                        </td>
                                        <td>{{ row.descricao }}</td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content -->
  </div>
  