<div class="content-page">
  <div class="content mt-2">
      <!-- Start Content-->
      <div class="card">        
          <div class="card-body">
              <div class="card-title border-bottom">
                  <h5 class="card-title">
                      {{ title }}
                  </h5>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <form class="produto-form" [formGroup]="produtoForm">
                          <input type="hidden" formControlName="id" value="{{ produtoId }}" />
                          <input type="hidden" formControlName="ativo" value="{{ objProduto.ativo }}" />
                          <input type="hidden" formControlName="b64Imagem" value="{{ objProduto.b64Imagem }}" />
                          <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label for="nome">Nome *</label>
                                        <input type="text" class="form-control" placeholder="Nome do Produto" formControlName="nome" value="{{ objProduto.nome }}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group">
                                        <label>Disponível?</label>
                                        <select class="form-control" formControlName="disponivel">
                                            <option value="Sim" selected>Sim</option>
                                            <option value="Não">Não</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label for="dataDisponibilidade">Disponibilidade</label>
                                        <div class="input-group">
                                            <input type="text" class="datepicker form-control" #dataDisponibilidade placeholder="dd/mm/yyyy" (blur)="setDate(dataDisponibilidade.value)" [value]="objProduto.dataDisponibilidade"/>
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="ti-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label for="valorPontos">Pontos *</label>
                                        <input type="number" class="form-control valorPontos" placeholder="Valor em Pontos para o Produto" #valorPontos formControlName="valorPontos" (blur)="setValor(valorPontos.value)">
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label for="valorMonetario">Valor R$</label>
                                        <input type="text" class="form-control valorMonetario" placeholder="Valor Monetário para o Produto" #valorMonetario formControlName="valorMonetario" (blur)="setPontos(valorMonetario.value)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="b64Imagem">Imagem</label>
                                    <input type="file" class="dropify" (change)="upImagem($event)"/>
                                </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="descricao">Descrição *</label>
                                    <textarea rows="4" cols="150" class="form-control" placeholder="Descrições do Produto" formControlName="descricao" value="{{ objProduto.descricao }}"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="observacoes">Observações</label>
                                    <textarea rows="4" cols="150" class="form-control" placeholder="Observações do Produto" formControlName="observacoes" value="{{ objProduto.observacoes }}"></textarea>
                                </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary mr-1" (click)="confirmar()" [disabled]="!produtoForm.valid">Gravar</button>
                                <button class="btn btn-secondary btnVoltar" (click)="goback()">Voltar</button>
                            </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- content -->
</div>
