<div class="content-page">
  <div class="content mt-2">
      <!-- Start Content-->
      <div class="card">        
          <div class="card-body">
              <div class="card-title border-bottom">
                  <h5 class="card-title">
                      {{ title }}
                  </h5>
              </div>
              <div class="row">
                  <div class="col-md-12">
                    <p>
                      Welcome to Employee Reward Program - Web Application
                    </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- content -->
</div>
