<script type="text/javascript">
    var ajaxExecuting = false;

    $(document).ajaxStart(function (event, request, settings) {
        ajaxExecuting = true;
        $('#progress').show();
    });

    $(document).ajaxStop(function (event, request, settings) {
        ajaxExecuting = false;
        $('#progress').hide();
    });

    //WINDOW START
    $(window).ready(function () {
        $('#progress').show();
    });

    //WINDOW FINISH LOAD
    $(window).load(function () {
        if (!ajaxExecuting)
            $('#progress').hide();
    });

    //WINDOW REDIRECT
    $('body').on('click', 'a', function () {
        if ($(this).attr('href') != null && $(this).attr('href') != undefined)
        {
            if ($(this).attr('href').charAt(0) == '/' && $(this).attr('target') != '_blank')
                $('#progress').show();
        }

    });

    $('form').on('submit', function() {
        $('#progress').show();
    });
</script>

<div id="progress" style="display: block;">
    <div style="position: fixed;
    top: 0; left: 0;
    z-index: 1060;
    width: 100%;
    height: 800px;
    background: #ccc;
    opacity: 0.5;
    filter: alpha(opacity=50);">
    </div>

    <div style="
    position: fixed;
    left: 50%; top: 50%;
    margin: -30px 0 0 -100px;
    text-align: center;
    azimuth: center;
    z-index: 1061;
    border: solid 1px #808080;
    border-radius: 5px;
    font-weight: bold;
    background: #f2f2f2;
    width: 200px;
    padding: 10px;
    font-size: 15px;">

        <img src="@Url.Content("~/images/loading.gif")" alt="Carregando" style="width: 20px; margin: 0 5px 2px 0;" />
        <span>Carregando</span>
    </div>
</div>