<div class="content-page">
    <div class="content mt-2">
        <!-- Start Content-->
        <div class="card">        
            <div class="card-body">
                <div class="card-title border-bottom">
                    <h5 class="card-title">
                        {{ title }}
                    </h5>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <form class="situacao-recomendacao-form" [formGroup]="situacaoRecomendacaoForm">
                            <input type="hidden" formControlName="id" value="{{ situacaoRecomendacaoId }}" />
                            <input type="hidden" formControlName="ativo" value="{{ objSituacaoRecomendacao.ativo }}" />
                            <div class="row">
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label for="meio-nome">Nome</label>
                                      <input type="text" class="form-control" placeholder="Nome da Situação de Avaliação" formControlName="nome" value="{{ objSituacaoRecomendacao.nome }}">
                                  </div>
                              </div>
                              <div class="col-md-8">
                                  <div class="form-group">
                                      <label for="meio-nome">Descrição</label>
                                      <input type="text" class="form-control" placeholder="Descrição da Situação de Avaliação" formControlName="descricao" value="{{ objSituacaoRecomendacao.descricao }}">
                                  </div>
                              </div>
                            </div>
                            <button class="btn btn-primary mr-1" (click)="confirmar()" [disabled]="!situacaoRecomendacaoForm.valid">Gravar</button>
                            <button class="btn btn-secondary btnVoltar" (click)="goback()">Voltar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content -->
  </div>
  